@model ElectroEshop.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_LayoutEshop.cshtml";
}
<div class="container">
    <br>
    <div class="col-md-7 col-md-offset-2">
        <div class="section-title-center">
            <h2 style="margin-top:20px; text-align: center;">@ViewBag.Title</h2>
        </div>

        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <br>
            <h4 style="text-align: center; font-weight:500">Enter your email.</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="primary-btn order-submit btn-block">Send</button>
                </div>
            </div>
        }
    </div>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
